<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Siswa</title>
</head>

<body>
    <h1>Add Data</h1>
    
    <form action="" method="post">
        String <input type="text" name="string" placeholder="String"> <br>
        Integer <input type="number" name="integer" placeholder="Integer"> <br>
        Float <input type="number" step="any" name="float" placeholder="Float"> <br>
        Date <input type="date" name="date" placeholder="end date"> <br>
        Boolean <select name="boolean">
            <option value="" disabled selected hidden>Choose the boolean ...</option>
            <option value="true">True</option>
            <option value="false">False</option>
        </select>
        <br>
        <button type="submit">Save</button>
    </form>
</body>

</html>